.background    { background: rgb(166, 238, 255);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(244, 48, 79); }
.wall          { background: white;   }

.actor  { position: absolute;  }
.coin   { background: rgb(255, 196, 33); }
.player { background: rgb(88, 53, 126); }
.floater { background: black; }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
